* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

li,a {
    text-decoration: none;
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: black;
    height: 7vh;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.navlist {
    list-style: none;
    display: flex;
}

.navlist li {
    margin-left: 32px;
}


/* Corpo do site */

.FotoP img{
    width: 100%;
    height: 80%;
}