* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

li,a {
    text-decoration: none;
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: black;
    height: 7vh;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.navlist {
    list-style: none;
    display: flex;
}

.navlist li {
    margin-left: 32px;
}


/* Corpo do site */

.FotoP{
    width: 100%;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
}

.FotoP img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    -webkit-user-drag: none;
}

.Corposite {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 50px;
}


.div-text {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    width: 40%;
    text-align: left;
     border: 1px solid black;
}

.ibagem {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ibagem img {
    width: 80%;
    -webkit-user-drag: none;
}

p {
    margin: 10px;
    text-align: left;
    font-size: 1.2rem;
}


ul,li {
    color: black;
    list-style: none;
}